<div li-block="Paragraphe largeur moyenne">
                    
                    
                    <div class="max-width-medium">
                      <p class="max-width-medium">
{{ block.settings.text_paragraphe }}
</p>
                    </div>
                    
                  
                </div> {% schema %} {
    "name": "Paragraphe largeur moyenne",
    "settings": [
        {
            "id": "text_paragraphe",
            "type": "text",
            "label": "Paragraphe",
            "default": "Chaque ann\u00e9e, vous raffolez de nos cl\u00e9mentines, et elles sont bient\u00f4t de retour dans vos assiettes ! D\u00e8s le d\u00e9but du mois de novembre, elles seront exp\u00e9di\u00e9es directement depuis nos producteurs partenaires. Et cette ann\u00e9e, vous pouvez d\u00e9j\u00e0 pr\u00e9voir votre commande avant la saison !"
        }
    ],
    "presets": [
        {
            "name": "Paragraphe largeur moyenne"
        }
    ]
} {% endschema %}