<div li-block="Paragraphe">
                    
                    
                    <p>
{{ block.settings.text_paragraphe }}
</p>
                    
                  
                </div> {% schema %} {
    "name": "Paragraphe",
    "settings": [
        {
            "id": "text_paragraphe",
            "type": "text",
            "label": "Paragraphe",
            "default": "U TRAGULINU CORSICA est n\u00e9 en 2021 de l\u2019envie de valoriser les fruits et agrumes souvent sous-exploit\u00e9s ou gaspill\u00e9s.\u2028<br\/><br\/>Partie de simples tourn\u00e9es de cl\u00e9mentines en r\u00e9gion PACA, la marque est devenue une r\u00e9f\u00e9rence pour relier directement producteurs corses et consommateurs fran\u00e7ais, garantissant qualit\u00e9, authenticit\u00e9 et prix justes."
        }
    ],
    "presets": [
        {
            "name": "Paragraphe"
        }
    ]
} {% endschema %}