<div li-block="Paragraphe italique">
                    
                    
                    <p class="text-style-italic">
{{ block.settings.text_paragraphe_italique }}
</p>
                    
                  
                </div> {% schema %} {
    "name": "Paragraphe italique",
    "settings": [
        {
            "id": "text_paragraphe_italique",
            "type": "text",
            "label": "Paragraphe Italique",
            "default": "R\u00e9colte pr\u00e9vue mi-novembre"
        }
    ],
    "presets": [
        {
            "name": "Paragraphe italique"
        }
    ]
} {% endschema %}