<div li-block="Titre">
                    
                    
                    <div class="w-richtext"> {{ block.settings.richtext_titre }} </div>
                    
                  
                </div> {% schema %} {
    "name": "Titre",
    "settings": [
        {
            "id": "richtext_titre",
            "type": "richtext",
            "label": "Titre",
            "default": "<p>\n                      Les vraies cl\u00e9mentines sont bient\u00f4t de retour\n                    <\/p>"
        }
    ],
    "presets": [
        {
            "name": "Titre"
        }
    ]
} {% endschema %}