<div class="padding-global">
          <div class="padding-section-small-hero">
            <div class="container-large">
              <div class="small-hero_component">
                <div class="breadcrumbs_wrapper">
                  <a href="#" class="breadcrumbs_link">Accueil</a>
                  <div class="icon-embed-xxsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--ic" width="100%" height="100%" preserveaspectratio="xMidYMid meet" viewbox="0 0 24 24">
                      <path fill="currentColor" d="M9.29 15.88L13.17 12L9.29 8.12a.996.996 0 1 1 1.41-1.41l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3a.996.996 0 0 1-1.41 0c-.38-.39-.39-1.03 0-1.42"></path>
                    </svg></div>
                  <a li-object:href="collection.url" li-object="collection.title" href="{{ collection.url }}" aria-current="page" class="breadcrumbs_link w--current">{{ collection.title }}</a>
                </div>
                <div class="small-hero_heading">
                  <h1 li-object="collection.title">{{ collection.title }}</h1>
                </div>
                <div li-object="collection.description" class="small-hero_subtitle">{{ collection.description }}</div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Collection Hero",
    "class": "section_small-hero",
    "presets": [
        {
            "name": "Collection Hero",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}