<div class="padding-global">
          <div class="container-large">
            <div class="padding-section-4rem">
              <div class="header_component">
                <div class="margin-bottom margin-medium">
                  <div class="header_content-wrapper">
                    <div class="header_heading">
                      <h1 class="heading-style-h1">Histoire de la marque</h1>
                    </div>
                    <div class="header_content">
                      <p class="text-weight-medium">Partie de simples tournées de clémentines en région PACA, U-Tragulinu-Corsica est devenue une référence pour relier directement producteurs corses et consommateurs français, garantissant qualité, authenticité et prix justes.</p>
                    </div>
                  </div>
                </div>
                <div class="header_image-wrapper"><img loading="eager" src="{{ 'Placeholder-Image---Landscape.svg' | asset_url }}" alt="" class="header_image"></div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "header",
    "name": "Hero Contenu",
    "class": "section_header",
    "presets": [
        {
            "name": "Hero Contenu",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}