<div class="padding-global">
          <div class="container-large">
            <div class="padding-section-4rem">
              <div class="header_component">
                <div class="margin-bottom margin-medium">
                  <div class="header_content-wrapper">
                    <div class="header_heading">
                      <h1 class="heading-style-h1">
{{ section.settings.text_titre }}
</h1>
                    </div>
                    <div class="header_content">
                      <p class="text-weight-medium">
{{ section.settings.text_paragraphe }}
</p>
                    </div>
                  </div>
                </div>
                <div class="header_image-wrapper">{% if section.settings.image_image %}
{{ section.settings.image_image | image_url: width: 1000 | image_tag: loading: 'eager', class: 'header_image' }}
{% else %}
<img loading="eager" alt="" src="{{ 'Placeholder-Image---Landscape.svg' | asset_url }}" class="header_image">
{% endif %}</div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Hero - A propos",
    "class": "section_hero-a-propos",
    "settings": [
        {
            "id": "text_titre",
            "type": "text",
            "label": "Titre",
            "default": "Histoire de la marque"
        },
        {
            "id": "text_paragraphe",
            "type": "text",
            "label": "Paragraphe",
            "default": "Partie de simples tourn\u00e9es de cl\u00e9mentines en r\u00e9gion PACA, U-Tragulinu-Corsica est devenue une r\u00e9f\u00e9rence pour relier directement producteurs corses et consommateurs fran\u00e7ais, garantissant qualit\u00e9, authenticit\u00e9 et prix justes."
        },
        {
            "id": "image_image",
            "type": "image_picker",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Hero - A propos",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}