<div class="padding-global">
          <div class="padding-section-medium">
            <div class="list-collections_heading">
              <h1>Toutes nos catégories</h1>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Liste Collections",
    "class": "section_small-hero",
    "presets": [
        {
            "name": "Liste Collections",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}